header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0px;
    position: fixed;
}

ul{
    list-style-type: none;
    margin: 15;
}
  
li{
    display: inline;
    margin: 20px;
}

body{
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}

section{
    width: 80%;
    margin: 80px auto 20px auto;
    position: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.50);
}

h1{
    text-align: center;
}

#article-list div {
    margin-bottom: 10px;
    margin-top: 50px;
    border-bottom: 1px solid grey;
}

#article-list div a {
    text-decoration: none;
}

footer{
    color: white;
    text-align: center;
    background-color: black;
    padding: 1px;
    margin-bottom: 20px;
}