.container{
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 5%;
  background-color: white;
}

h1{
  text-align: center;
}

/* th{
  text-align: left;
} */

th[id=daftar]{
  padding-top: 87px;
  text-align: left;
}

button{
  text-align: left;
  border: 1px solid black;
  background: white;
  border-radius: 30%;
}

td{
  padding: 10px;
  column-span: 2;
}
